NODE_ENV=development
DATABASE_URL="postgresql://postgres.xxxxxxxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxx@aws-1-eu-central-1.pooler.supabase.com:6543/postgres"
REDIS_URL=redis://localhost:6379
JWT_SECRET_KEY=pliers-xxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx
JWT_EXPIRES_IN=30s
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxx-xxx-xxxxxxxxxxxxxxxxxxxx
MAIL_PROVIDER=smtp
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=demarco.von36@ethereal.email
SMTP_PASS=j4d1bqTAuHS4MSqXnF